// Search Form

.searchform {
	display: flex;
	flex: 1;

	&__label {
		flex-grow: 1;
		flex-basis: 95%;
		font-size: 0;
	}

	&__field {
		padding-right: 0.5em !important;
		padding-left: 1.5em !important;
		border-color: var(--wp--preset--color--primary) !important;
		border-top-left-radius: 5em !important;
		border-bottom-left-radius: 5em !important;
		background-color: var(--wp--preset--color--white) !important;
		outline: none;
	}

	button[type="submit"],
	&__submit {
		@include button-primary;
		padding: 0.5em 1.5em 0.5em 1em !important;
		text-transform: uppercase;
		border-top-right-radius: 5em !important;
		border-bottom-right-radius: 5em !important;
	}

	&__field,
	&__submit {
		font-size: var(--wp--preset--font-size--normal);
	}

	&__icon {
		position: relative;
		width: 28px;
		margin: 0 auto;
		padding: 0 0 10px;
		text-align: center;

		&__circle,
		&__rectangle {
		}

		&__circle {
			width: 18px;
			height: 18px;
			margin: 0 auto;
			border: 2px solid var(--wp--preset--color--white);
			border-radius: 100%;
		}

		&__rectangle {
			position: absolute;
			right: 0;
			bottom: 8px;
			width: 12px;
			transform: rotate(45deg);
			border: 1px solid var(--wp--preset--color--white);
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			background: var(--wp--preset--color--white);
		}

		&:hover,
		&:active,
		&:focus {
			cursor: pointer;
		}
	}
}
