// Footer

.footer {
	padding-top: var(--wp--preset--spacing--80);
	padding-bottom: var(--wp--preset--spacing--80);
	background-color: var(--wp--preset--color--primary);

	.whatsapp-button {
		position: fixed;
		right: 2rem;
		bottom: 2rem;
		display: block;
		width: 69px;
		height: 69px;
		z-index: 1080;
	}

	.container,
	.container-wide,
	.container-fluid {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	.widget-column {
		flex: 1;
		max-width: 564px;
	}
}
