// Header

.header {
	.navbar {
		position: fixed;
		z-index: 1080;

		width: 100%;

		padding-left: var(--wp--preset--spacing--20);
		padding-right: var(--wp--preset--spacing--20);

		color: var(--wp--preset--color--foreground);
	}

	.navbar-wrapper {
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1080;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--wp--preset--spacing--10);
		flex: 1;

		width: calc(100% - var(--wp--preset--spacing--20) * 2);
		max-width: 800px;
		min-height: 83px;

		padding-left: var(--wp--preset--spacing--20);
		padding-right: var(--wp--preset--spacing--20);
		border: 2px solid var(--color--border-navbar);
		border-radius: 1rem;
		background-color: var(--color--background-navbar);

		@media (max-width: 991.98px) {
			display: grid;
			grid-template-areas:
				"NB NB NB"
				"NT BT IC";
			justify-items: center;
			row-gap: 0;
			column-gap: var(--wp--preset--spacing--10);
			padding: var(--wp--preset--spacing--10);
		}
	}

	.navbar-nav {
		.nav-item {
			a {
				font-size: 1rem;
			}
		}
	}

	.navbar-brand {
		grid-area: NB;

		.custom-logo-link {
			display: flex;
		}

		.custom-logo {
			max-width: 180px;
		}
	}

	.navbar-toggler {
		grid-area: NT;
	}

	.navbar-collapse-mobile {
		z-index: 1070;

		@media (min-width: 992px) {
			display: none;
		}
	}

	.navbar-collapse-desktop {
		display: none;

		@media (min-width: 992px) {
			display: block;
		}
	}

	.cta {
		grid-area: BT;

		display: flex;
		align-items: center;
		min-height: 46px;
		@include button-primary;
	}

	.social-media-icon {
		display: flex;

		&.icon-instagram {
			grid-area: IC;
		}
	}
}
