// 404 Error Page

.error404 {
	.main {
		.container,
		.container-fluid {
			height: 100%;
		}
	}

	.error-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		min-height: 100vh;
		margin: var(--wp--preset--spacing--70) var(--wp--preset--spacing--40) var(--wp--preset--spacing--40);
		padding: var(--wp--style--block-gap);
		text-align: center;
		color: var(--wp--preset--color--foreground);
		border-radius: 20px;
		background-color: var(--color--background-404);

		& > span {
			margin-top: 3rem;
			margin-bottom: 2rem;
			font-size: 4rem;
			font-weight: 700;
			color: var(--wp--preset--color--primary);
		}

		.page-title {
			margin-bottom: 1.8rem;
			font-weight: 500;
		}

		& > a {
			@include button-primary;

			@media (max-width: 991.98px) {
				margin-bottom: 5rem;
			}
		}
	}
}
