// Toggler Icon

@mixin toggler-icon {
	display: inline-block;
	cursor: pointer;

	.bar1,
	.bar2,
	.bar3 {
		margin: 5px 0;
		width: 35px;
		height: 5px;
		border-radius: 5px;
		background-color: var(--wp--preset--color--foreground);
		transition: 0.4s;
	}

	&.close {
		.bar1 {
			transform: rotate(-45deg) translate(-6px, 7px);
		}

		.bar2 {
			opacity: 0;
		}

		.bar3 {
			transform: rotate(45deg) translate(-8px, -8px);
		}
	}
}
