// Variables

:root {
	--color--foreground-rgb: 55, 55, 55;
	--color--background-rgb: 254, 254, 254;
	--color--black-rgb: 0, 0, 0;
	--color--white-rgb: 255, 255, 255;
	--color--border-navbar: #373737;
	--color--background-navbar: #f9f5e7;
	--color--background-navbar-collapse: #d0fd86;
	--color--background-404: #ecfdd2;

	@media (min-width: 992px) {
		--color--border-navbar: #9c9c9c;
		--color--background-navbar: #ebe6d2;
	}
}
